<div class="row">
  <div class="col-md-3 col-sm-6 col-lg-4">
    <div class="card mb-2 text-center bg-dark">
      <!-- TODO: Crear la Imagen -->
       <div class="card-body text-white">
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, dolorem culpa veniam doloremque accusantium ipsa! Unde expedita nesciunt quo harum eaque, nobis at, tempore itaque veniam maiores deserunt aut aliquam.
        </p>
       </div>
    </div>
  </div>
  
</div>
